*{
    padding:0;
    margin:0;

    /*PORTADA*/
}
@font-face {
    font-family: 'titulo-pixel';
    src: url(./font/titulo.TTF);
}

@keyframes moverFondo {
    from {
        background-position-x: 100%;
    }
    to {
        background-position-x: 0%;
    }
}

#contenedor-principal {
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw; 
    font-family: 'titulo-pixel';
    color:antiquewhite;
    text-shadow: 
        2px 2px 0 #000, /* Borde en la parte inferior derecha */
        -2px -2px 0 #000, /* Borde en la parte superior izquierda */
        2px -2px 0 #000, /* Borde en la parte superior derecha */
        -2px 2px 0 #000; 
    text-align: center; 
    background-image: url(https://sevilla.abc.es/Media/201404/03/aguirre-coche--644x362.jpg);
    background-color: lightblue; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


/*Ajuste título*/
#contenedor-principal h1, h3{
    position: relative;
    top: 50px;
}
/* Estilo del botón de inicio */
#contenedor-principal button {
    position: relative;
    right: 250px;
    margin-top: 150px;
    margin-bottom: 35px;
    height: 200px;
    width: 220px;
    border-radius: 80px;
    font-size: 1rem; /* Ajusta el tamaño del texto del botón */
    background-image: url(./img/rana-granados-boton.png);
    transform-origin: center; /* Cambia esto si el origen no es el centro */
    transition: transform 0.3s ease; /* Suaviza la transición */
}

#contenedor-principal button:hover {
    transform: scale(1.2); /* Aumenta el tamaño del botón al 120% */
}


button h3{

    position: absolute;
    left: 100px;
    bottom: 10px;
    font-family: 'titulo-pixel';
    color: rgb(110, 110, 219);
    text-shadow: 
        2px 2px 0 #000, /* Borde en la parte inferior derecha */
        -2px -2px 0 #000, /* Borde en la parte superior izquierda */
        2px -2px 0 #000, /* Borde en la parte superior derecha */
        -2px 2px 0 #000; 
}

/*Ajuste de imagen*/
#contenedor-principal img{
    
    position: relative;
    bottom: 180px;
    height: 200px;
    width: 250px;
    left: 350px;
   

}

   


/*PANTALLA DE JUEGO*/

#contenedor-juego{
    height: 100vh;
    width: 100%;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-color: rgb(185, 23, 23); 
    position: absolute;

}
#pantalla-juego{
    
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    height: 90vh;
    width: 210vh;
    pointer-events: none;
    position: relative;
    background-image: url(./img/carretera.png);
    overflow: hidden;
    animation: moverFondo 5s linear infinite;


}
#contenedor-juego::before {
    content: '☆\A☆\A☆'; /* Usar \A para salto de línea */
    white-space: pre; /* Mantener los saltos de línea */
    position: absolute;
    font-size: 4rem; /* Tamaño de las estrellas */
    color: white; /* Color de las estrellas */
    top: 50%;
    left: 1px;
    transform: translateY(-50%); /* Centra verticalmente */
}
#contenedor-juego::after {
    content: '☆\A☆\A☆'; /* Usar \A para salto de línea */
    white-space: pre; /* Mantener los saltos de línea */
    position: absolute;
    font-size: 4rem; /* Tamaño de las estrellas */
    color: white; /* Color de las estrellas */
    top: 50%;
    right: 1px;
    transform: translateY(-50%); /* Centra verticalmente */
}








/*PANTALLA FINAL 1*/



/*OCULTAR PANTALLAS AL INICIO*/

#contenedor-juego, #cartel-resultado{

    display: none;
}