*{
    padding:0;
    margin:0;   
}


@keyframes moverFondo {
    from {
        background-position-x: 100%;
    }
    to {
        background-position-x: 0%;
    }
}
/*PORTADA*/

@font-face {
    font-family: "noto-sans";
    src: url("./font/NotoSans.ttf");
}

#contenedor-principal {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 20px; 
    width: 100vw;
    font-family: 'titulo-pixel';
    background-image: url("./img/background.png");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: antiquewhite;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

/* Contenedor y estilo del logo */
.contenedor-logo {
    position: relative;
    width: 600px;
    height: auto;
    margin-bottom: 20px; 
}

.logo {
    width: 100%; 
    height: auto;
}

/* Contenedor y estilo del botón */
.contenedor-boton {
    position: relative;
    width: 400px;
    height: auto;
    left: 40px;
    bottom: 50px;
    
}

.contenedor-boton button {
    width: 100%;
    background-color: black; 
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.contenedor-boton button:hover {
    transform: scale(1.2); 
}

.boton-imagen {
    background-color: black;
    width: 100%;
    height: auto;
    cursor: pointer; 
}

/* Contenedor y estilo de las instrucciones */
.contenedor-instrucciones {
    position: relative;
    width: 500px;
    height: auto;
    bottom: 80px;
}

.instrucciones {
    width: 100%;
    height: auto;
}

.texto-instrucciones {
    font-family: "noto-sans";
    position: absolute;
    top: 55%; 
    left: 65%; 
    transform: translate(-50%, -50%);  
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

/* Contenedor y estilo de historia */
.contenedor-historia {
    position: relative;
    width: 500px;
    height: auto;
    bottom: 140px;
}

.historia {
    width: 100%;
    height: auto;
}

.texto-historia {
    font-family: "noto-sans";
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 80%; 
    max-width: 400px; 
    padding: 10px; 
    line-height: 1.5; 
}


/*PANTALLA DE JUEGO*/

#contenedor-juego{
    height: 100vh;
    width: 100%;
    justify-content: center; 
    align-items: center; 
    background-color: rgb(185, 23, 23); 
    position: absolute;
    
#pantalla-juego{
    
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    height: 85vh;
    width: 215vh;
    right: 55px;
    pointer-events: none;
    position: relative;
    background-image: url(./img/carretera.png);
    overflow: hidden;
    animation: moverFondo 5s linear infinite;

}

}
#contenedor-juego h4 {

    position: relative;
    text-align: start;
    justify-content: start;
    bottom: 250px;
    left: 600px;
    font-family: 'titulo-pixel';
    color:antiquewhite;
    text-shadow: 
        2px 2px 0 #000, 
        -2px -2px 0 #000, 
        2px -2px 0 #000, 
        -2px 2px 0 #000; 

}
.contenedor-vidas{
    display: flex;
    position: relative;
    flex-direction: row;
    bottom: 255px;
    height: 15px; 
    width: 80px;
    left: 640px; 
 
}

 #vida1 img,
 #vida2 img,
 #vida3 img {
    
    position: relative;
    height: 15px; 
    width: 15px;
    gap: 5px;

}

#contenedor-juego::before {
    content: '☆\A☆\A☆'; 
    white-space: pre; 
    position: absolute;
    font-size: 4rem; 
    color: white; 
    top: 50%;
    left: 1px;
    transform: translateY(-50%); 
}
#contenedor-juego::after {
    content: '☆\A☆\A☆'; 
    white-space: pre; 
    position: absolute;
    font-size: 4rem; 
    color: white; 
    top: 50%;
    right: 1px;
    transform: translateY(-50%); 
}


/*PANTALLA FINAL 1*/

#cartel-resultado {
    background-image: url(./img/ayuso.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#cartel-resultado h1 {
    padding-top: 0;
    padding-left: 0;
    font-family: 'titulo-pixel';
    margin-bottom: 50px;
    text-align: center;
}

#volver-jugar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#volver-jugar button {
    background-color: #333; 
    color: #fff; 
    padding: 15px 30px; 
    font-size: 1.5rem; 
    font-family: 'titulo-pixel';
    border: none; 
    border-radius: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    width: 220px; 
    height: 70px; 
}


#volver-jugar button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); 
    background-color: #555; 
}

#volver-jugar button:active {
    transform: scale(1.05); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}


#volver-jugar button h3 {
    margin: 0;
    font-family: 'titulo-pixel';
    color: #ffd700; 
    text-shadow: 1px 1px 2px #000; 
    font-size: 1.2rem;
}


/*PANTALLA 2 GUARDIA CIVIL*/

#cartel-resultado2{

    background-image: url(./img/guardia-civil-fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#cartel-resultado2 h1 {
    font-family: 'titulo-pixel';
    font-size: 3rem;
    color: white; 
    margin-bottom: 20px;
}

#volver-jugar button, #cartel-resultado2 button {
    background-color: #333; 
    color: #fff; 
    padding: 15px 30px; 
    font-size: 1.5rem; 
    font-family: 'titulo-pixel'; 
    border: none; 
    border-radius: 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease; 
}

#volver-jugar button:hover, #cartel-resultado2 button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); 
    background-color: #555; 
}

#volver-jugar button:active, #cartel-resultado2 button:active {
    transform: scale(1.05); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}


#volver-jugar button h3, #cartel-resultado2 button h3 {
    margin: 0;
    color: #ffd700; 
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #000; 
}

/*OCULTAR PANTALLAS AL INICIO*/

#contenedor-juego, #cartel-resultado, #cartel-resultado2{

    display: none;
}

.pausa{

    animation-play-state:paused;
}